#frontend
node_modules/
frontend/probex-angular2/app/js/
frontend/probex-angular2/app/css/theme.css
frontend/probex-angular2/firefox_root/

#backend
*target*
*.jar
*.war
*.ear
*.class
.idea/workspace.xml
frontend/probex-angular2/.idea/workspace.xml
