<div class="vertical-center">
    <div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-leg-offset-4">
        <md-card>
            <md-card-header>
                <h2>Probex</h2>
            </md-card-header>
            <md-card-content>
                <div>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Usuario" [(ngModel)]="username" required>
                    </md-input-container>
                </div>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Senha" [(ngModel)]="password" required>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="signIn()">Entrar</button>
                <button md-button [routerLink]="['/user-signup']">Inscreva-se</button>
            </md-card-actions>
        </md-card>
    </div>
</div>