<div class="vertical-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-lg-4 col-lg-offset-4">
        <md-card class="login">
            <md-card-header>
                <img src="/app/img/probex.png" class="margin-auto">
            </md-card-header>
            <md-card-subtitle>
                <h3 class="text-center">Criar usuário</h3>
            </md-card-subtitle>
            <md-card-content>
                <div>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Usuário" [(ngModel)]="user.username" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="E-mail" type="email" [(ngModel)]="user.email" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="Senha" [(ngModel)]="user.password" required>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions>
                <div>
                    <button md-button class="full-width" (click)="_location.back()">Voltar</button>
                </div>
                <div>
                    <button md-raised-button class="full-width" color="primary" (click)="signUp()">Cadastrar</button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</div>